# This is a configuration definition file in folder "/media/student/code1/ltlmop-ros/LTLMoP/src/examples/firefighting/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pick_up = share.DummyActuatorHandler.setActuator(name='pick_up')
drop = share.DummyActuatorHandler.setActuator(name='drop')
radio = share.DummyActuatorHandler.setActuator(name='radio')
extinguish = share.DummyActuatorHandler.setActuator(name='extinguish')

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
ROSUAV

Name: # Configuration name
Untitled configuration uav

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
fire = share.DummySensorHandler.buttonPress(button_name='fire', init_value=False)
hazardous_item = share.DummySensorHandler.buttonPress(button_name='hazardous_item', init_value=False)
person = share.DummySensorHandler.buttonPress(button_name='person', init_value=False)


======== Robot1 Config ========

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
ROSUAV.RosDriveHandler(d=0.3)

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
ROSUAV.RosInitHandler(init_region="kitchen",worldFile="ltlmop_map.world",robotPixelWidth=10,robotPhysicalWidth=0.4,robotPackage="turtlebot_bringup",robotLaunchFile="minimal.launch",modelName="turtlebot",calib=False)

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
ROSUAV.RosLocomotionCommandHandler(velocityTopic="/cmd_vel_mux/input/navi")

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
share.MotionControl.VectorControllerHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
ROSUAV.RosPoseHandler(modelName="mobile_base")

RobotName: # Robot Name
ROSUAV

SensorHandler: # Sensor handler file in robots/Type folder
ROSUAV.RosSensorHandler()

Type: # Robot type
ROSUAV

